.navbar_container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(89, 35, 250);
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.5)
}


.navbar_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}


.logo{
    font-size: 36px;
    font-weight: bold;
}

.menu-links{
    display: flex;
    gap: 20px;
   
}

.menu-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
    font-weight: 800;
}


.menu-links a:hover{
    text-decoration: underline;
}